<div class="container">
  <header class="header clearfix">
    <p>マイつぶやき</p>
  </header>
<h1>編集</h1>
<%= render 'form', tsubuyaki: @tsubuyaki %>
<%= link_to 'トップへ戻る', tsubuyakis_path %>
<footer class="footer clearfix">
  <p>© TSUBUYAKI Corp. All RIGHTS RESERVED.</p>
</footer>
</div>
